@page
@model ConfirmEmailModel
<div style="height: 10vh;"></div>
@{
    ViewData["Title"] = "Email został potwierdzony";
}
<h1 class="ladna_czcionka">@ViewData["Title"]</h1>
<a asp-controller="Home" asp-action="Index">Przejdź do logowania</a>