@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Potwierdzenie resetowania hasła";
}

    <div class="d-flex justify-content-start">
        <div class="col-md-4 text-center opacityBackground">
            <h1 class="ladna_czcionka">@ViewData["Title"]</h1>
            <p>
                Aby zresetować hasło postępuj zgodnie z instrukcjami otrzymanymi w mailu.
            </p>
        </div>
    </div>
