@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<header>
    <h1>@ViewData["Title"]</h1>
    <p class="ladna_czcionka">Wylogowanie powiodło się. Zapraszamy ponownie :)</p>
</header>