@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Potwierdzenie resetowania hasła";
}

<h1 class="ladna_czcionka">@ViewData["Title"]</h1>
<p>
    Twoje hasło zostało zresetowane. Wejdź <a asp-page="./Login">TUTAJ</a> aby się zalogować.
</p>
